main {
  margin-top: 2rem;
  -webkit-box-shadow: 0px 0px 40px -3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 40px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 40px -3px rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  max-width: 95%;
  width: 1000px;
  background-color: rgba(var(--bg-primary-op), 0.6);
  margin: 1.3rem auto;
  padding: 1%;
  overflow: hidden;
}

.baumbot-pp-back {
  max-width: 70%;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  transition: 0.2s;
  width: 20rem;
  display: block;
  border-radius: 2rem;
  margin: 2rem auto 3rem auto;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 75px -30px var(--accent-one);
  -moz-box-shadow: 0px 0px 75px -30px var(--accent-one);
  box-shadow: 0px 0px 75px -30px var(--accent-one);
}

.baumbot-pp-back:hover {
  overflow: hidden;
  transform: scale(1.04);
  -webkit-box-shadow: 0px 0px 106px -22px var(--accent-one);
  -moz-box-shadow: 0px 0px 106px -22px var(--accent-one);
  box-shadow: 0px 0px 106px -22px var(--accent-one);
}

main h1 {
  font-family: 'Hexaframe CF Extra Bold Oblique';
  color: var(--accent-one);
  text-align: center;
  margin-bottom: 1.3rem;
}

main .description {
  flex: 1 1 50%;
  background-color: rgba(var(--bg-primary-op), 0.4);
  border-radius: 1.3rem;
  padding: 3%;
  margin: 2%;
  max-width: 100%;

  -webkit-box-shadow: 0px 0px 23px -3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 23px -3px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 23px -3px rgba(0, 0, 0, 0.7);
}

section {
  flex: 1 1 50%;
  background-color: rgba(var(--bg-primary-op), 0.4);
  border-radius: 1.3rem;
  padding: 3%;
  margin: 2%;
  margin-top: 3rem;
  max-width: 100%;

  -webkit-box-shadow: 0px 0px 23px -3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 23px -3px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 23px -3px rgba(0, 0, 0, 1);
}

h2 {
  margin-bottom: 1rem;
  font-family: 'Hexaframe CF Extra Bold Oblique';
  color: var(--accent-one);
  text-align: center;
}

.command {
  transition: background-color 0.2s;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  background-color: rgba(var(--bg-secondary-op), 0.5);

  padding: 1.5% 3%;
  margin: 0.3rem 0.1rem;
  border-radius: 1.3rem;

  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
}

.command:hover {
  background-color: rgba(var(--font-clr-primary-op), 0.1);
}

.commandcommand {
  font-family: 'JetBrains Mono';
  font-size: 1rem;
}

.command .commanddescript {
  visibility: hidden;
  position: absolute;
}

.commandcommand::before {
  content: '/';
}

.expand--reveal .commanddescript {
  visibility: visible;
  position: relative;

  margin: 0.6rem 0;
  font-family: 'JetBrains Mono';
  background-color: rgba(255, 255, 255, 0.04);
  padding: 1.4%;
  border-radius: 1rem;
}

/* Extra informationm */

.info img {
  filter: invert();
}

.info ul {
  font-family: 'JetBrains Mono';
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.info .links {
  font-family: 'JetBrains Mono';
}

.info h2 {
  width: 100%;
  display: block;
  margin: 0.5rem 0 1.5rem 0;
  text-align: center;
}

.info a,
.info span {
  /* cursor: pointer; */
  text-align: center;
  display: inline-block;
  transition: background-color 0.2s;
  margin: 0.3rem;
  padding: 1rem;
  background-color: rgba(var(--bg-secondary-op), 0.5);
  border-radius: 1.3rem;
}

.info a {
  text-decoration: none;
  color: var(--text-primary);
}

.info ul {
  list-style-type: none;
}

.info a:hover,
.info span:hover {
  background-color: rgba(var(--font-clr-primary-op), 0.1);
}

.info li p {
  margin: 0.6rem 0;
  font-family: 'JetBrains Mono';
  background-color: rgba(255, 255, 255, 0.04);
  padding: 2%;
  border-radius: 0.9rem;
  visibility: hidden;
  position: absolute;
}

.info li.expand--reveal p {
  position: relative;
  visibility: visible;
}

.info img {
  display: inline-block;
  margin: auto;
}

.apis a {
  padding: 0.8rem;
  margin: 0.1rem;
}
