body {
  background-color: orange;
}

main {
}

h3 {
  font-family: 'JetBrains Mono';
  text-align: center;
  font-size: 34px;
}

.container {
  /* background-color: purple; */
  margin-top: 1%;
  margin: 1%;
  overflow: hidden;
  /* background-color: red; */
}

.head-of-form {
  padding-bottom: 50px;
  max-width: 90%;
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form {
  height: 550px;
  width: 900px;
  max-width: 95%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column-end: auto;
  border-radius: 30px;
  /*  */
  background-color: rgba(var(--bg-primary-op), 0.5);
  padding: 5%;
}
form input,
form textarea {
  opacity: 70%;
  min-width: 0;
  font-size: 14px;
}

textarea {
  resize: vertical;
}

#email:invalid:not(:placeholder-shown) {
  color: red;
}

form > *:not([class='head-of-form']) {
  font-family: 'JetBrains Mono';
  transition: opacity 0.2s, color 0.2s;
  color: var(--font-clr-primary);
  padding: 10px;
  margin: 3px;
  background-color: rgba(var(--bg-primary-op), 0.8);
  border: none;
  border-radius: 7px;
  overflow: hidden;
}

form > *:not([class='head-of-form']):focus {
  outline: none;
  opacity: 100%;
}

form > *:not([class='head-of-form']):not(:placeholder-shown) {
  font-family: Inter, sans-serif;
  opacity: 100%;
  color: var(--font-clr-primary);
}

::selection {
  opacity: none;
}

#submit {
  width: 80px;
  display: grid;
  grid-column-end: auto;
}

#submit {
  padding: 10px 25px 10px 25px;
  text-align: center;
  border: none;
  background-color: rgba(var(--accent-one-op), 0.6);
  color: var(--font-clr-primary);
  border-radius: 7px;
  cursor: pointer;
}

@media only screen and (max-width: 810px) {
}
