body {
    background-color: orange;
}

form {
    width: 800px;
    max-width: 95%;
    margin: 2% auto ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column-end: auto;
    border-radius: 10px;
    /*  */
    background-color: rgba(var(--bg-primary-op), .5);
    padding: 1%;
}
form input,
form textarea {
    opacity: 70%;
    min-width: 0;
    font-size: 14px;
}

textarea {
    resize: vertical;
}



#email:invalid:not(:placeholder-shown) {
    color: red;
}

form > *:not([class="head-of-form"]) {
    font-family: "JetBrains Mono";
    transition: opacity .2s, color .2s;
    color: var(--font-clr-primary);
    padding: 10px;
    margin: 3px;
    background-color: rgba(var(--bg-primary-op), .8);
    border: none;
    border-radius: 7px;
    overflow: hidden;

}

form > *:not([class="head-of-form"]):focus {
    outline: none;
    opacity: 100%;
}

form > *:not([class="head-of-form"]):not(:placeholder-shown) {
    font-family: Inter, sans-serif;
    opacity: 100%;
    color: var(--font-clr-primary);
}


::selection {
    opacity: none;
}

h3 {
    margin-bottom: 20px;
    font-family: "JetBrains Mono";
    text-align: center;
    font-size: 34px;
}


.container {
    margin: 1%;
    overflow: hidden;
}


.head-of-form {
    max-width: 90%;
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#submit {
    width: 80px;
    display: grid;
    grid-column-end: auto;
}

#submit {
    padding: 10px 25px 10px 25px;
    text-align: center;
    border: none;
    background-color: rgba(var(--accent-one-op), .6);
    color: var(--font-clr-primary);
    border-radius: 7px;
    cursor: pointer;

}