body {
  background-color: #7fffd4;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  border-radius: 25px;
  max-width: 95%;
  width: 1000px;
  background-color: rgba(var(--bg-primary-op), 0.8);
  margin: 1% auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  overflow: hidden;
}

.language {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

/* .language::before {
  content: '';
  bottom: -3px;
  width: 100%;
  position: absolute;
  height: 6px;
  background-color: white;
} */

.img {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.experience {
  margin: 3%;
  flex-grow: 3;
  flex-basis: 60%;
  width: 500px;
  background-color: rgba(var(--bg-primary-op), 0.5);
  padding: 10px;
  border-radius: 20px;
}

.javascript p {
  width: 580px;
}

.python p {
  width: 700px;
}

.htmlcssjs p {
  width: 650px;
}

.img img {
  margin: 8px;
  width: 200px;
  border-radius: 20px;
}
