#background {
  background-color: #b13ff3;
  background-position: top center;
  position: fixed;
  background-repeat: no-repeat;
  z-index: -10;
  width: 100%;
  height: 120%;
  background-size: cover;
}

h1,
h3 {
  font-weight: 900;
  font-family: 'JetBrains Mono';
}

h3::before {
  content: '/';
}

main {
  padding: 1%;
}

.baumbot {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 25px;
  max-width: 90%;
  width: 1000px;
  background-color: rgba(var(--bg-primary-op), 0.8);
  overflow: hidden;
}

.profile-sect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile-sect h1 {
  width: 100%;
  text-align: center;
}

.profile-sect p {
  max-width: 100%;
  flex-grow: 0.4;
  /* flex-basis: 53%; */
  background-color: rgba(var(--bg-primary-op), 0.5);
  padding: 20px;
  border-radius: 25px;
  width: 400px;
}

.profile-sect img {
  display: block;
  overflow: hidden;
  border-radius: 25px;
  width: 20rem;
  margin: 20px;
}

.command {
  background-color: rgba(var(--bg-primary-op), 0.5);
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  overflow: hidden;
  max-width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.commandcommand {
  width: max-content;
  background-color: rgba(var(--bg-primary-op), 0.7);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px 0;
  border-radius: 15px;
}
